# Dependencies
node_modules
.pnp
.pnp.js

# Testing
coverage
*.log

# Next.js
.next
out
build
dist

# Production
*.tsbuildinfo
next-env.d.ts

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Environment variables
.env
.env*.local
.env.production

# Vercel
.vercel

# TypeScript
*.tsbuildinfo

# OS
.DS_Store
Thumbs.db
*.swp
*.swo
*~

# IDE
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.idea
*.sublime-project
*.sublime-workspace

# Prisma
prisma/dev.db
prisma/dev.db-journal
prisma/migrations/**/migration.sql

# PWA
public/sw.js
public/workbox-*.js
public/sw.js.map
public/workbox-*.js.map

# Turbo
.turbo

# Misc
*.pem
.cache
temp
tmp

# Sentry Config File
.env.sentry-build-plugin
